{% extends 'base/adminbase.html' %}

{% block content %}
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-5 offset-3">
                <div class="reg-form">
                    <!-- Signup Form -->
                    <h2>Admin Signup</h2>
                    <form action="{% url 'admin_signup' %}" method="post" class="reg-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}
                        <button class="signup-btn btn btn-primary btn-lg" type="submit">Signup</button>
                    </form>
                    <br>
                    <span>Already have an account? </span>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
